#mapa {
  height: 100vh;
}

h1 {
  text-align: center;
  margin: 0.666em 0 1em 0;
}

#menu {
  font-size: 0.9em;
  line-height: 1.3;
  text-align: center;
  min-height: 640px;
}

#menu .list-group-item {
  width: 100%;
}

#menu .panel-title {
  margin-bottom: 0;
}

#menu .panel-title a {
  background-color: #f8f9fa !important;
}

#menu .panel-subtitle {
  font-size: 1.2em;
}

#menu .panel-subtitle a {
  background-color: #eaeaea;
}

#menu .panel-sub-subtitle {
  background-color: #f4f4f4;
}

#detalles-contenedor {
  text-align: center;
  padding: 2em 1em 1em 1em;
}

#detalles {
  margin-top: 0;
  text-align: left;
}

#navegacion-fija {
  position: fixed;
  left: 0;
  bottom: 0px;
  font-size: 2em;
  width: 16.666667%;
  line-height: 0.55;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

#navegacion-fija a {
  text-decoration: none;
  width: 100%;
  text-align: center;
  display: block;
}

#navegacion-fija button {
  text-decoration: none;
  width: 100%;
  text-align: center;
  display: block;
}

#navegacion-fija a, #navegacion-fija a:hover, #navegacion-fija a:visited, #navegacion-fija a:active {
  color: black;
}

a.duracion, a.duracion:hover, a.duracion:active, a.duracion:visited, .respuesta-1-de-5, .respuesta-2-de-5, .respuesta-3-de-5, .respuesta-4-de-5, .respuesta-5-de-5 {
  border-bottom: 1px dashed #808080;
}

.enunciado-pregunta {
  text-decoration: underline;
}

.nav-tabs {
  border-bottom: 0px solid #ddd;
}

.center-content {
  display: flex;
  justify-content: center;
}

.btn-list {
  width: 100%;
  background-color: #f8f9fa;
  color: #495057;
}

.btn-list:hover {
  background-color: rgba(0, 0, 0, 0.1) !important;
  color: #495057 !important;
  border: 0 transparent;
}

.btn-list:focus {
  background-color: rgba(0, 0, 0, 0.1) !important;
  color: #495057 !important;
  border: 0 transparent;
}

.list-menu {
  overflow-y: scroll;
  max-height: 300px;
}

.padding {
  padding: 0px;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.btn-solid {
  width: 90%;
  border-radius: 5px;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-transparent {
  background: rgba(251, 246, 246, 0.4);
}

.btn-google {
  font-size: 2rem;
  background-color: #DD4B39;
  color: white !important;
  width: 70%;
}

.full-background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.center {
  display: flex;
  justify-content: center;
}

.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.detalle-contenendor {
  padding: 5px !important;
  text-align: left !important;
  overflow-y: scroll;
  height: 100vh;
}

ul li {
  line-height: 40px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.capa {
  background: yellow;
  height: 150px;
  /*IMPORTANTE*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.subcapa {
  width: 500px;
  background: red;
}

.respuesta-si {
  /*color: #00ff00;*/
}

.respuesta-no {
  /*color: #ff0000;*/
}

.respuesta-1-de-5 {}

.respuesta-2-de-5 {}

.respuesta-3-de-5 {}

.respuesta-4-de-5 {}

.respuesta-5-de-5 {}
